USE [master]
GO
/****** Object:  Database [Candidate_Factory]    Script Date: 20/08/2024 8:44:12 a. m. ******/
CREATE DATABASE [Candidate_Factory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Candidate_Factory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Candidate_Factory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Candidate_Factory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Candidate_Factory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Candidate_Factory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Candidate_Factory]
GO
/****** Object:  Table [dbo].[CandidateEsperiences]    Script Date: 20/08/2024 8:44:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateEsperiences](
	[IdCandidateExperience] [int] IDENTITY(1,1) NOT NULL,
	[IdCandidate] [int] NOT NULL,
	[Company] [varchar](100) NOT NULL,
	[Job] [varchar](100) NOT NULL,
	[Description] [varchar](4000) NOT NULL,
	[Salary] [numeric](10, 2) NOT NULL,
	[BeginDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[InsertDate] [datetime] NOT NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_CandidateEsperiences] PRIMARY KEY CLUSTERED 
(
	[IdCandidateExperience] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 20/08/2024 8:44:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[IdCandidate] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](150) NOT NULL,
	[Birthdate] [datetime] NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[IdCandidate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 20/08/2024 8:44:13 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[IdLog] [int] IDENTITY(1,1) NOT NULL,
	[Error] [varchar](500) NULL,
	[Modulo] [varchar](50) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CandidateEsperiences]  WITH CHECK ADD  CONSTRAINT [FK_CandidateEsperiences_Candidates] FOREIGN KEY([IdCandidate])
REFERENCES [dbo].[Candidates] ([IdCandidate])
GO
ALTER TABLE [dbo].[CandidateEsperiences] CHECK CONSTRAINT [FK_CandidateEsperiences_Candidates]
GO
USE [master]
GO
